<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <a href="/new" style="margin-bottom: 1rem">Add message</a>
    <% for(let x = 0; x < locals.messages.length; x++) { %>
    <div style="padding: 1rem; background-color: red; margin-bottom: 1rem">
      <p>Text: <%= locals.messages[x].text %></p>
      <p>User: <%= locals.messages[x].user %></p>
      <p>Date: <%= locals.messages[x].added %></p>
    </div>
    <%}%>
  </body>
</html>
